/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffc107;
    border: 1px solid #ffca28;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
}

/* Add hover effect to list items */
li:hover {
    background-color: #3b58ff;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#addMemberForm {
    margin-top: 20px;
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 12px;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #1c6ca1;
}
