{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Names</title>
    <link rel="stylesheet" type="text/css" href='{%static "styles.css"%}'>
</head>
<body>
    <div class="container">
        {% block data %}
            <h1>TODO TASKS</h1>
            <ul>
                {% for p in member %}
                    <li>{{ p.name }}
                        <a href="{% url 'delete_member' p.id%}"> 
                            <button>Delete Task</button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
         

        <div id="addMemberForm" >
            <h2>Enter A NEW TASK</h2>
            <form method="post" action="{% url 'add_member' %}">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" name="name" required>
                <br>
                <button type="submit">Add Task</button>
            </form>
        </div>
    {% endblock %}
</div>
</body>
</html>
